<div class="container my-5">
  <h1 class="mb-5 text-center">Altın ve Döviz Kurları</h1>
  <div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-primary">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Para Birimi</th>
          <th scope="col">Alış Fiyatı</th>
          <th scope="col">Satış Fiyatı</th>
          <th scope="col">Değişim (%)</th>
        </tr>
      </thead>
      <tbody>
        <% @currencies.each do |currency, data| %>
          <tr class="table-success">
            <td><%= currency %></td>
            <td><%= data['alis'] %></td>
            <td><%= data['satis'] %></td>
            <td><%= data['degisim'] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= button_to "Ana Sayfa", root_path, method: :get, class: "btn btn-primary" %>
</div>

